.agent-view {
    display: flex;
    flex-wrap: wrap;

    .dashboard {
        padding: 20px;

        .dashcard {
            padding: 20px 40px;
            background: var(--secondary);
            border-radius: 20px;

            .title {
                width: 100%;
                text-align: center;
            }
        }
    }
    
    .merchant {
        width: 300px;
        background: var(--ui-white);
        border-radius: 5px;
        margin: 20px;
        padding: 5px;
        cursor: pointer;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        
        
        
        .s_1 {
            display: flex;
            padding: 20px;
            color: var(--ui-white);
            border-radius: 5px;
            
            
            background: var(--ui-gray);
            
            .profile-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                text-align: center;
                font-size: 45px;
                overflow: hidden;
                background: var(--ui-black);
                margin-right: 20px;
            }
            
            .username, .email {
                font-style: italic;
            }
            
            .email {
                font-size: 15px;
            }
        }
        
        .s_2 {
            padding: 20px;
            
        }
    }
}