.agent-view {
    display: flex;
    flex-wrap: wrap;

    .merchant {
        padding: 20px 40px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        margin: 20px;

        /* &:hover {
            background: red;
        } */

        .s_1 {
            display: flex;

            .profile-img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                text-align: center;
                font-size: 40px;
                overflow: hidden;
                background: #e6ff04;
                margin-right: 20px;
            }
        }

        .s_2 {
            margin-block: 20px;
        }
    }
}