.agent-view {
    display: flex;
    flex-wrap: wrap;
    
    .merchant {
        width: 300px;
        background: white;
        border-radius: 5px;
        margin: 20px;
        padding: 5px;
        cursor: pointer;
        overflow: hidden;        
        
        
        .s_1 {
            display: flex;
            padding: 20px;
            color: white;
            border-radius: 5px;
            
            
            background: black;
            
            .profile-img {
                color: black;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                text-align: center;
                font-size: 45px;
                overflow: hidden;
                background: var(--ui-theme);
                margin-right: 20px;
            }
            
            .username, .email {
                font-style: italic;
            }
            
            .email {
                font-size: 15px;
            }
        }
        
        .s_2 {
            padding: 20px;
            
        }
    }
}