.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: var(--ui-primary-theme);
    color: var(--ui-white);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    .header-title {
        font-weight: 600;
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
    }

    i {
        background: var(--ui-white);
        color: var(--ui-primary-theme);
        border-radius: 50%;
        font-size: 20px;
        padding: 5px;
        position: absolute;
        left: 30px;
        cursor: pointer;
        transition: all 0.5 ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}