#navbar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
    z-index: 99;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: all 0.3s ease;
    
    
    &.inactive {
        left: -300px;
    }
    
    .left {
        background-color: #000;
        color: white;
        width: 300px;
        height: 100%;
        
        .brand {
            width: 100%;
            height: 30%;
            background: blue;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            
            .brand-image {
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #000;
                border-radius: 50%;
                margin-inline: 20px;
                overflow: hidden;
                
                img {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                }
            }
            
            .brand-meta {
                margin: 20px;
                
                /*    .brand-name {
                    
                } */
                
                .brand-email {
                    font-size: 12px;
                    font-style: italic;
                }
            }
        }
        
        .links {
            width: 100%;
            height: 75%;
            display: flex;
            flex-direction: column;
            
            .link {
                display: flex;
                align-items: center;
                padding: 20px 30px;
                cursor: pointer;
                transition: all 0.3s ease-out;
                
                &:hover {
                    background: #fff;
                    color: black;
                }
                
                i {
                    font-size: 30px;
                    margin-right: 30px;
                }
            }
        }
        
    }
    
    .right {
        width: calc(100% - 300px);
        height: 100%;
        background: transparent;
    }
}